<br>
<br>
<div class="text-center">
    <h2 class="section-heading text-uppercase">Hornos de Api</h2>
    <h3 class="section-subheading text-muted">(Aquí va a ingresar los datos del nuevo horno)</h3>
    <div class="transparent">
        <form>
            <div class="form-group">
                <label for="marca" class="col-form-label col-sm2">Marca</label>
                <div>
                    <input style="margin-bottom: 10px; width: 60%;" class="col-md-6 offset-md-3"     type="text" [(ngModel)]="selectedHorno.marca" [ngModelOptions]="{standalone: true}"/><br>
                </div>
            </div>
        </form>
    </div>
    <div class="transparent">
        <form>
            <div class="form-group">
                <label for="valor" class="col-form-label col-sm2">Valor</label>
                <div>
                    <input style="margin-bottom: 10px; width: 60%;" class="col-md-6 offset-md-3" type="text" [(ngModel)]="selectedHorno.Valor" [ngModelOptions]="{standalone: true}"/><br>
                </div>
            </div>
        </form>
    </div>
    <div class="transparent">
        <ul>
            <li *ngFor="let horno of hornos">
                <h5 (click)="hornoClicked(horno)">{{horno.marca}} - {{horno.valor}}</h5>
            </li>
        </ul>
        <button (click)="updateHorno()">update</button>
        <button (click)="addHorno()">create</button>
        <button (click)="deleteHorno()">delete</button>
    </div>
</div>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let horno of hornos">
            <td>{{horno.marca}}</td>
            <td>{{horno.valor}}</td>
            
        </tr>
    </tbody>
</table>
<hr>


