<html>
<body>
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/img/muestra.jpg" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Pastel fresco</span>
                    <span class="section-heading-lower">muy fresco</span>
                </h2>
                <p class="mb-3">Cada cucharada de nuestra calidad artesana de pasteles comienza con ingredientes de origen local. Una vez los pruebes, nuestros pasteles seran una hermosa addición a tu brunch de cada día - lo garantizamos!</p>
            <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" [routerLink]="['/empleado']">Visítanos hoy!</a></div>
           </div>
        </div>
    </div>
</section>
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/img/muestra2.jpg" alt="..." />
            <div class="intro-text right-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Aprobado</span>
                    <span class="section-heading-lower">5 estrellas</span>
                </h2>
                <p class="mb-3">HK es amiga de Gordon Ramsay. Una prueba de que somos uno de los mejores en nuestro trabajo, el gran Grodon Ramsay amado por muchos y odiado por otros, sabe que nuestros productos son de la mejor calidad que hay en el sector, Prueba de fuego.</p>
            <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" [routerLink]="['/solicitud']">Ingrese solicitud!</a></div>
           </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Nuestra promesa</span>
                        <span class="section-heading-lower">Para ti</span>
                    </h2>
                    <p class="mb-0">Cuando ingresa a nuestra tienda para comenzar su día, estamos dedicados a brindarle un servicio amable, un ambiente acogedor</p>
                    <p class="mb-0">pero sobre todo, excelentes productos elaborados con ingredientes de la más alta calidad.</p>
                    <p class="mb-0">Si no está satisfecho, háganoslo saber y haremos todo lo posible para arreglar las cosas!</p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>